button {
    background-color: rgb(50, 50, 50);
    color: rgb(225, 0, 0);
    border: none;
    display: inline-lock;
    font-size: 16px;
    margin: 0px ;
}

a {
    text-decoration: none;
    color: rgb(140, 62, 62);
}
a:hover {
    color: rgb(200, 0, 0);
}
.sticky1 {
    position: sticky;
    top: 0;
    background-color: rgb(30, 30, 30);
    z-index: 200;
    border-bottom: 2px solid rgb(50, 50, 50);
}

body{
    margin: 0;
    color: rgb(225, 0, 0);
    background-color: rgb(20, 20, 20);
}

.inpt1{
    background-color: black;
    
    color:rgb(225, 0, 0);
    width: 45px ;
}


.keyblack {
    background: linear-gradient(to right, #460000, #000000);
    color: white;
    width: 100px;
    height: 20px;
    font-size: 0.5em;
    text-align: right;
    
}
.keyblack:hover {
    filter: brightness(0.9); 
}

.keywhite {
    background: linear-gradient(to right, #460000, #ffffff);
    color: black;
    width: 100px;
    height: 20px;
    font-size: 0.5em;
    text-align: right;
    
}
.keywhite:hover {
    filter: brightness(0.9); 
}
.note-cell {
    width: 25px;
    height: 20px;
    background-color: black;
    border: 0.5px solid rgb(26, 26, 26);
}