<DOCTYPE html> 
{%load static %} 
<html lang="en">  


 <head > 
        <link rel="stylesheet" href="{% static 'profile.css' %}"> 
  </head> 
<body>
<h2 class="mid">User Profile</h2>
<div class="profile_info"><p><img src="{% static 'avatars/avatar_stability.png' %}" alt="User" class="user-img" ></p>
<div><p>{{ user.username }}</p>
<p>Joined: {{ user.date_joined }}</p></div></div>
<h4 class="mid">Tracks uploaded: {{ tracks_count }}</h4>
<div class="track_list">{% for track in page_obj %}
<img src="{% static 'sitemages/track_info.png' %}" alt="Track Info icon" class="track-info-icon">
{%endfor%}</div>


<nav aria-label="navv">
    <ul class="paginaton">
        <li class="page_item">
            <a class="page-link {% if not page_obj.has_previous %} disabled {% endif %}" href="{% if page_obj.has_previous %} {% url 'profile' id %}?page={{ page_obj.previous_page_number }} {% endif %}">
                Previos
            </a>
        </li>
        <li class="page-item">
            <a class="page-link {% if not page_obj.has_next %} disabled {% endif %}" href="{% if page_obj.has_next %} {% url 'profile' id %}?page={{ page_obj.next_page_number }} {% endif %}">
                Next
            </a>
        </li>
    </ul>
</nav>

</body>
</html>