<DOCTYPE html> 
{%load static %} 
<html lang="en">  


 <head > 
        <link rel="stylesheet" href="{% static 'profile.css' %}"> 
  </head> 
<body>
<a href="/" class="back-but1"> << Back </a>
<h2 class="mid"> User Profile</h2>
<div class="profile_info"><p><img src="{% static 'avatars/avatar_stability.png' %}" alt="User" class="user-img" ></p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<input type="file" name="avatar" >
<button type="submit" class="upload_button">Upload Avatar</button>
</form>
<div><p>{{ user.username }}</p>
<p>Joined: {{ user.date_joined }}</p></div></div>
<h4 class="mid">Tracks uploaded: {{ tracks_count }}</h4>
<div class="track_list">
{% for track in page_obj %}
    <div class="track-row">
        <p>{{ track.title }}</p>
        <a href="{% url 'track_info' track.id %}"><img src="{% static 'sitemages/track_info.png' %}" alt="Track Info icon" class="track-info-icon"></button></a>
        <a href="{% url 'edit_track' track.id %}"><img src="{% static 'sitemages/edit_track.png' %}" alt="Track Edit icon" class="track-edit-icon"></a>
        <a href="{% url 'sequences' track.id %}"><img src="{% static 'sitemages/piano_roll.png' %}" alt="Piano Roll" class="track-piano-icon"></a>
    </div>
{%endfor%}
</div>


<nav aria-label="navv">
    <ul class="paginaton">
        <li class="page_item">
            <a class="page-link {% if not page_obj.has_previous %} disabled {% endif %}" href="{% if page_obj.has_previous %} {% url 'profile' id %}?page={{ page_obj.previous_page_number }} {% endif %}">
                Previos
            </a>
        </li>
        <li class="page-item">
            <a class="page-link {% if not page_obj.has_next %} disabled {% endif %}" href="{% if page_obj.has_next %} {% url 'profile' id %}?page={{ page_obj.next_page_number }} {% endif %}">
                Next
            </a>
        </li>
    </ul>
</nav>

</body>
</html>